@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root{
    /* Colors using hsl for better control of colors */
    /* Fonts color*/
    --color-white: hsla(0, 0%, 100%, 1); 
    /* Main Title*/
    --font-size-text-preset-1: 24px;
    /* Location,Bio, Buttons */
    --font-size-text-preset-2: 14px;
    /* Color Schemes */
    --color-grey-700: hsla(0, 0%, 20%, 1);
    --color-grey-900: hsla(0, 0%, 8%, 1);
    --color-grey-800: hsla(0, 0%, 12%, 1);
    --color-green: hsla(75, 94%, 57%, 1);
    /* Spacing */
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
}

/* Body color */
body{
    font-family: 'Inter', sans-serif;
    background: var(--color-grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 100vh;
    margin: 0;
}

/* Card Component*/
.card {
    /* Card Layout */
    position: relative;
    display: flex;
    width: 100%;
    max-width: 384px;
    height: auto;
    padding: var(--spacing-500);
    flex-direction: column;
    align-items: center;
    /* card style */
    border-radius: 12px;
    background: var(--color-grey-800);
    box-sizing: border-box;
    text-align: center;
}

.profile-picture img{
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    border-radius: 999px;
}

.name-box{
    color: var(--color-white);
    /* text-preset-1 */
    font-size: var(--font-size-text-preset-1);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.location-box{
    color: var(--color-green);
    /* text-preset-2-bold */
    font-family: Inter;
    font-size: var(--font-size-text-preset-2);
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    margin-bottom: var(--spacing-300);
}

.links-box{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    width:304px;
    height: 289px;
}

.button {
    width: 100%;
    height: 45px;
    padding: var(--spacing-150);
    background-color: var(--color-grey-700);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    font-size: var(--font-size-text-preset-2);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover,
.button:focus {
    background-color: var(--color-green);
    color: var(--color-grey-900);
}
  
/* Attribution */
.attribution { 
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    color: var(--color-white);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}